<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}css/screen.css">
<link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
</head>

<body class="{{ page.section }}">

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a href="{{ site.baseurl }}" class="navbar-brand">{{ site.name }}</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="http://lanternhq.com/courses/34">Lantern <i class="glyphicon glyphicon-share-alt"></i></a></li>
        <li><a href="https://github.com/organizations/tsl-frontend">GitHub org <i class="glyphicon glyphicon-share-alt"></i></a></li>
    </ul>
</nav>

<div class="container">
    {{ content }}
</div>

<footer class="container">
</footer>

</body>
</html>
