---
layout: default
---

<div class="page-header">
    <h1>{{ page.title }} <small>{{ page.date | date_to_string }}</small></h1>
</div>

<div class="row">
    <div class="col-sm-4">
        {% if page.events %}
            <h3>Events</h3>
            {% for item in page.events %}
                {{ item|markdownify }}
            {% endfor %}
        {% endif %}
        {% if page.links %}
            <h3>Handy links</h3>
            {% for item in page.links %}
                {{ item|markdownify }}
            {% endfor %}
        {% endif %}
        {% if page.screencasts %}
            <h3>Screencasts</h3>
            {% for item in page.screencasts %}
                {{ item|markdownify }}
            {% endfor %}
        {% endif %}
        {% if page.homework %}
            <h3>Homework</h3>
            {% for item in page.homework %}
                {{ item|markdownify }}
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-8 post-content">
        {{ content }}
    </div>
</div>
